
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=file-roller
Name[en_US]=Master Chart from Feeder
Exec=/home/aaron/bin/image-scanning/scan_master_feeder.sh
Name=Scan from Feeder
Icon=file-roller
