
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gbrainy
Exec=/usr/local/image-scanning/process_clinic.sh
Name[en_US]=Process Clinic Chart
Name=Process Clinic Chart
Icon=gbrainy
